*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

nav{
    height: 70px;
    border: solid black;
    display: flex;
    align-items: center;
}
.navbar section{
    border: solid;
    height: 100%;
    display: grid;
    place-items: center;
}
.logo{
    flex-basis: 10%;

}
.logo img{
    height: 50px;
    width: 50px;
}
.navigation{
    flex-basis: 35%;
}
.navbar ul{

    width: 100%;
    list-style: none;
    
}
.navbar ul,
.navbar li,
a{
    height: inherit;
     display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar ul a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: bolderl;
}

li:hover a{
    

    /*padding-bottom: 20px;*/
    border-bottom: 3px solid green;
}
.navigation article{
    height: 300px;
    width: 72%;
    position: absolute;
    border: solid;
    top: 70px;
    left: 170px;
    display: none;
}

.navigation li:hover article{
    display: block;
}
.search{
    flex-basis: 40%;
    article{
        border: 1px solid;
        height: 70%;
        width: 80%;
        padding: 5px;
        display: flex;
        align-items: center;
        border-radius: 10px;

    }
}
.search input{
    flex: basis 90%; 
    height:100% ;
    border: none;
    outline: none;
    border-radius: 10px;
}
.search i{
    flex-basis: 10%;
}
.profile{
    flex-basis: 15%;
    aside{
        width: 100%;';ll'
    }
    ul{
        width: 100%;
    }
    li{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}